@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(0) rotateZ(-60deg);
    }
    50% {
        opacity: 1;
        transform: translateX(-50%) scale(1) rotateZ(90deg);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) scale(0) rotateZ(180deg);
    }
}

.diceroll {
    animation: 5s  both fade-in;
    // display: block;
    position: fixed;
    // font-size: 3vw;
    background-color: #f1f1f1;
    // min-width: 20px;
    // overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    top: 30%;
    // transform: translateY(-50%);
}

// .show {
//     display: block;
// }

// cubic-bezier(0.25, 0.25, 0.25, 1.25)