.nav-link {
    font-weight: normal;
    text-decoration: none;
    color: green;
}

.nav-link-selected {
    font-weight: bold;
    color: green;
    text-decoration: solid underline;
    text-decoration-thickness: 3px;
}

.nav-link-currentTurn {
    color: blue;
    text-decoration: none;
    
}

.nav-link-selected-currentTurn {
    font-weight: bold;
    color: blue;
    text-decoration: solid underline;
    text-decoration-thickness: 3px;
}
